<a href="https://colab.research.google.com/github/nafilahhans/DataMining/blob/main/Repo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Hani Nafilah

Nim  : A11.2023.15202

Data Mining || A11.4506

# **Eksperimen Data Mining Dengan One-Hot Encoding**
Prediksi Minat Beli Produk Berdasarkan Profil Pelanggan

One-Hot Encoding?

Teknik mengubah data kategori (teks) menjadi angka biner (0 dan 1)

Contoh: "Jakarta", "Bandung", "Surabaya" → [1,0,0], [0,1,0], [0,0,1]

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
#data contoh
data = {
    'usia': [25, 35, 45, 23, 40, 28, 50, 33, 29, 42],
    'kota': ['Jakarta', 'Bandung', 'Surabaya', 'Jakarta', 'Bandung',
             'Surabaya', 'Jakarta', 'Bandung', 'Surabaya', 'Jakarta'],
    'pekerjaan': ['Mahasiswa', 'Karyawan', 'Wiraswasta', 'Mahasiswa', 'Karyawan',
                  'Wiraswasta', 'Karyawan', 'Wiraswasta', 'Mahasiswa', 'Karyawan'],
    'minat_beli': [0, 1, 1, 0, 1, 0, 1, 1, 0, 1]  # 0=Tidak, 1=Ya
}

df = pd.DataFrame(data)
print("=== DATA ASLI ===")
print(df)
print("\n")

=== DATA ASLI ===
   usia      kota   pekerjaan  minat_beli
0    25   Jakarta   Mahasiswa           0
1    35   Bandung    Karyawan           1
2    45  Surabaya  Wiraswasta           1
3    23   Jakarta   Mahasiswa           0
4    40   Bandung    Karyawan           1
5    28  Surabaya  Wiraswasta           0
6    50   Jakarta    Karyawan           1
7    33   Bandung  Wiraswasta           1
8    29  Surabaya   Mahasiswa           0
9    42   Jakarta    Karyawan           1

Dataset:

- Usia: Data numerik (sudah bisa dipahami komputer)

- Kota & Pekerjaan: Data kategori (perlu diubah ke angka)

- Minat Beli: Target yang ingin kita prediksi

In [9]:
# Ubah data kategori menjadi format one-hot
kolom_kategorikal = ['kota', 'pekerjaan']
df_encoded = pd.get_dummies(df, columns=kolom_kategorikal, prefix=kolom_kategorikal)
df_encoded = df_encoded.astype(int)

print("Data Setelah One-Hot Encoding:")
print(df_encoded)

Data Setelah One-Hot Encoding:
   usia  minat_beli  kota_Bandung  kota_Jakarta  kota_Surabaya  \
0    25           0             0             1              0
1    35           1             1             0              0
2    45           1             0             0              1
3    23           0             0             1              0
4    40           1             1             0              0
5    28           0             0             0              1
6    50           1             0             1              0
7    33           1             1             0              0
8    29           0             0             0              1
9    42           1             0             1              0

   pekerjaan_Karyawan  pekerjaan_Mahasiswa  pekerjaan_Wiraswasta
0                   0                    1                     0
1                   1                    0                     0
2                   0                    0                     1
3                   0                    1                     0
4                   1                    0                     0
5                   0                    0                     1
6                   1                    0                     0
7                   0                    0                     1
8                   0                    1                     0
9                   1                    0                     0

Model Prediksi

In [4]:
# Pisahkan data: Features (X) dan Target (y)
X = df_encoded.drop('minat_beli', axis=1)  # Semua kolom kecuali minat_beli
y = df_encoded['minat_beli']               # Hanya kolom minat_beli

print("Features (X) untuk training:")
print(X.columns.tolist())

Features (X) untuk training:
['usia', 'kota_Bandung', 'kota_Jakarta', 'kota_Surabaya', 'pekerjaan_Karyawan', 'pekerjaan_Mahasiswa', 'pekerjaan_Wiraswasta']

Konsep Features & Target:

- Features (X): Data yang digunakan untuk memprediksi (usia, kota, pekerjaan)

- Target (y): Hasil yang ingin diprediksi (minat_beli)

Training Model Machine Learning

In [5]:
# Bagi data menjadi training (70%) dan testing (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Buat model Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)  # Proses belajar dari data training

print("✅ Model selesai belajar dari data!")

✅ Model selesai belajar dari data!

In [6]:
# Test model dengan data testing
y_pred = model.predict(X_test)
akurasi = accuracy_score(y_test, y_pred)

print("=== HASIL EVALUASI ===")
print(f"Akurasi model: {akurasi:.2f} ({(akurasi*100):.0f}%)")

print("\nPerbandingan Hasil:")
test_results = pd.DataFrame({
    'Aktual': y_test.values,
    'Prediksi': y_pred
})
print(test_results)

=== HASIL EVALUASI ===
Akurasi model: 0.67 (67%)

Perbandingan Hasil:
   Aktual  Prediksi
0       0         0
1       1         1
2       0         1

Interpretasi Hasil:


- Model bisa memprediksi dengan sempurna pada data testing

- Dalam real world, biasanya akurasi tidak 100% sempurna

In [7]:
# Data pelanggan baru yang ingin diprediksi
data_baru = {
    'usia': [30, 22, 48],
    'kota': ['Jakarta', 'Bandung', 'Surabaya'],
    'pekerjaan': ['Karyawan', 'Mahasiswa', 'Wiraswasta']
}

df_baru = pd.DataFrame(data_baru)

# Lakukan one-hot encoding yang sama
df_baru_encoded = pd.get_dummies(df_baru, columns=kolom_kategorikal)

# Prediksi minat beli
prediksi_baru = model.predict(df_baru_encoded)

# Tampilkan hasil
df_baru['prediksi_minat_beli'] = prediksi_baru
df_baru['keterangan'] = df_baru['prediksi_minat_beli'].map({0: 'Tidak Minat', 1: 'Minat'})

print("=== PREDIKSI PELANGGAN BARU ===")
print(df_baru)

=== PREDIKSI PELANGGAN BARU ===
   usia      kota   pekerjaan  prediksi_minat_beli   keterangan
0    30   Jakarta    Karyawan                    1        Minat
1    22   Bandung   Mahasiswa                    0  Tidak Minat
2    48  Surabaya  Wiraswasta                    1        Minat

Hasil Prediksi:

Usia 30, Jakarta, Karyawan → Minat

Usia 22, Bandung, Mahasiswa → Tidak Minat

Usia 48, Surabaya, Wiraswasta → Minat

In [8]:
# Insight yang Didapat
# Lihat faktor paling berpengaruh
feature_importance = pd.DataFrame({
    'feature': X.columns,
    'importance': model.feature_importances_
}).sort_values('importance', ascending=False)

print("Faktor paling berpengaruh dalam minat beli:")
print(feature_importance)

Faktor paling berpengaruh dalam minat beli:
                feature  importance
5   pekerjaan_Mahasiswa    0.408391
0                  usia    0.345773
4    pekerjaan_Karyawan    0.081018
2          kota_Jakarta    0.076911
1          kota_Bandung    0.043705
6  pekerjaan_Wiraswasta    0.033333
3         kota_Surabaya    0.010870

Kesimpulan:

1. One-Hot Encoding berhasil mengubah data kategori menjadi format numerik

2. Model machine learning bisa belajar pola dari data yang sudah di-encode

3. Hasil prediksi bisa digunakan untuk mengetahui minat beli pelanggan baru

Ringkasan Proses:

Data Kategori → One-Hot Encoding → Data Numerik → Machine Learning → Prediksi